*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Game */

.game{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.game-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Icons */

.title h1{
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    
}

.icons{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.margin-right{
    margin-right: 1rem;
}

hr{
    opacity: .5;
}

/* Game Box */

#gameBoxs{
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameblock{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-gap: 5px;
    padding: 10px;

}


.block{
    width: 80px;
    height: 80px;
    font-size: 2rem;
    border: 2px solid gray;
    font-weight: bold;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Keybord Box */

.keybord-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 8px;
}

.btn , .space-wide{
    width: 50px;
    height: 70px;
    padding: 10px;
    margin-right: 6px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    background-color: gray;
    touch-action: manipulation;
    cursor: pointer;
}

.space-wide{
    width: 80px;
}

.space-wide img{
    color: white;
}

.fa-delete-lef{
    width: 30px;
    height: 100%;
}

/* Color */

.bg-light-brown{
    background-color: #c9b458;
    border: none;
}

.bg-green{
    background-color: #6aaa64;
    border: none;
}

.bg-gray{
    background-color: #787c7e;
    border: none;
}

.bg-dark{
    background-color: #3e4142;
    border: none;
}

@media screen and (max-width: 475px) {
    .block{
        width: 50px;
        height: 50px;
    }

    .margin-right{
        margin-right: .5rem;
    }

    .btn , .space-wide{
        width: 30px;
        height: 58px;
        padding: 0;
        font-size:0.8rem;
    }

    .space-wide{
        width: 50px;
    }
}